<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onClick()" color="primary">
        <ion-icon name="heart"></ion-icon>
        Click me
      </ion-button>
      <ion-button (click)="onClick()" color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Butones normales -->
  <ion-button size="small" expand="full">Click me - Small</ion-button>
  <ion-button size="default" expand="full">Click me - Default</ion-button>
  <ion-button size="large" expand="full">Click me - Large</ion-button>

  <ion-button class="top-20" expand="full" routerLink="/alert" color="dark">
    Anchor
  </ion-button>

  <!-- ion row + ion col -->

  <ion-row>
    <ion-col size="">
      <ion-button class="top-20" expand="full" routerLink="/avatar" color="dark">
        Avatar
      </ion-button>
    </ion-col>
    <ion-col size="">
      <ion-button class="top-20" expand="full" routerLink="/action-sheet" color="dark">
        Action-Sheet
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fill -->
  <ion-button class="top-20" fill="clear">Clear</ion-button>
  <ion-button class="top-20" fill="outline">Outline</ion-button>
  <ion-button class="top-20" fill="solid">Solid</ion-button>

</ion-content>
 