<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin" color="light"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>  
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum architecto iure molestiae, 
      vel doloremque exercitationem a? Saepe corporis cumque, ipsa et atque dicta nihil velit eaque,
       facilis aut accusantium repellendus.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
      Rem ipsam architecto quos fuga? Quam, voluptas quibusdam! 
      Harum quasi molestias amet, veritatis, dolore fuga iure obcaecati, 
      placeat sapiente adipisci dolor aspernatur.
    </ion-card-content>
  </ion-card>
</ion-content>
